/*<!-- Album Page v2 External Style Sheet*/

body {
	font-family: Calibri;
}
ul {
	font-size: 14px;
}
table {
	font-size: 14px;
	text-align: center;
	border-collapse: collapse;
}
a {
	text-decoration: none;
			
}
a:hover {
	text-decoration: underline;
}

		